<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
<!-- Main -->
<main>
  <!-- Section -->
  <nav id="categorias">
    <% categories.forEach(categorie => { %>
        <a href="/productos/categories/<%= categorie.id %>"><%= categorie.nombre %></a>
        <% }) %> 
  </nav>
<section class="productos">
  <h3 class="titulares">¡No llegues a esa ocasión especial sin una SUPER TORTA!</h3>

  <% productos.forEach(categoria => { %>
    <article>
            <figure><img src="/<%= categoria.imagen%>" alt=""></figure>
            <section>
              <h3 class="descripciones"> <%= categoria.nombre %></h3>
              <p class="precios"> $<%= categoria.precio %></p>
              
              <a href='/productos/detalle/<%= categoria.id %>'  class="botonproductos">Ver más info</a>

            </section>
    </article>        
  <% }) %> 

</section>
</main>
  <!-- Footer -->
<%- include("../includes/footer") %> 
</body>