<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
<!-- Main -->
<main>
  <!-- Section -->
  <nav id="categorias">
    <% category.forEach(categorias => { %>
        <a href="/products/categories/"><%= categorias.nombre %></a>
        <% }) %> 
  </nav>
<section class="productos">
  <h3 class="titulares">¡No llegues a esa ocasión especial sin una SUPER TORTA!</h3>

  <% category.forEach(categoria => { %>
    <article>
            <figure><img src="/<%= categoria.product[0].imagen%>" alt=""></figure>
            <section>
              <h3 class="descripciones"> <%= categoria.product[0].nombre %></h3>
              <p class="precios"> $<%= categoria.product[0].precio %></p>
              <a href='/productos/detalle/<%= categoria.product[0].id %>'  class="botonproductos">Ver más info</a>
            </section>
    </article>        
  <% }) %> 

</section>
</main>
  <!-- Footer -->
<%- include("../includes/footer") %> 
</body>