<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
<!-- Main -->
<main>

<h3 class="titulares">¿Querés modificar alguna torta?</h3>
<!-- Formularios -->

<form action="/productos/editar/<%= productos.id %>?_method=PUT" method="PUT" class="formularioRegistro" enctype="multipart/form-data">
    
  <fieldset class="controlFormulario">
      <input class="control" type="text" name="nombre" value="<%= productos.nombre %>">
    </fieldset>

    <section class="controlFormulario">
      <% categories.forEach(category => { %>
      
      <fieldset class="contenedorItems">
        <% if (category.id == productos.category_id) { %>
          <input type="radio" name="category_id" value="<%= locals.data ? data.category_id : null %>" checked id="<%= category.id %>">
          <% } else { %>
          <input type="radio" name="category_id" value="<%= locals.data ? data.category_id : null %>" id="<%= category.id %>">
        <% } %>
          <label for="<%= category.id %>"><%= category.nombre %> </label>
      </fieldset>
      <% }) %>
    </section>
    <fieldset class="controlFormulario" id="fotoTorta">
    <h3>Foto actual del producto</h3>
    <figure>
      <img src="/<%=productos.imagen%>" alt="imagen BANANASPLIT">
    </figure>
    <h4>Subir una nueva imagen?</h4>
      <input type="file" name="imagen" id="Subirfoto" value="<%= locals.data ? data.imagen : null %>">
    </fieldset>

    <fieldset class="controlFormulario">
      <input class="control" type="number" name="precio" value="<%= locals.data ? data.precio : null %>">
    </fieldset>

    <fieldset class="controlFormulario">
      <input class="control" type="text" name="descripcion" value="<%= locals.data ? data.descripcion : null %>">
    </fieldset>

  <section id="contenedorBotones">
  <button class="button" type="submit">Editar Torta</button>
  <button class="button" type="reset">Borrar</button>
  </section>
</form>
<!-- Cierre del Form -->
</main>
<!-- Footer -->
<%- include("../includes/footer") %> 
</body>