<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
<!-- Main -->
<main>
    <form action="/usuarios/update/<%= user.id %>?_method=PUT" class="formularioRegistro" method="POST" id="profileForm">
        <% if(user || user.admin) {%>
        <fieldset class="container">
        <fieldset>
          <input type="text" name="name" id="nombre" value="%>" placeholder="Nombre y Apellido">
          <span class="feed "></span>
          <% if (locals.errors && errors.contraseña) {%>
            <p> <%= errors.contraseña.msg %>   </p>
            <% } %>
        </fieldset>
        <fieldset>
          <input type="email" name="email" id="email" value="<%= user.email%>" placeholder="Email">
          <span class="feed "></span>
          <% if (locals.errors && errors.contraseña) {%>
            <p> <%= errors.contraseña.msg %>   </p>
            <% } %>
        </fieldset>
        <fieldset>
          <input type="password" name="lastPassword" id="lastPassword" value="" placeholder="Contraseña Anterior">
          <span class="feed "></span>
          <% if (locals.errors && errors.contraseña) {%>
            <p> <%= errors.contraseña.msg %>   </p>
            <% } %>
        </fieldset>
        <fieldset>
          <input type="password" name="password" id="password" value="" placeholder="Nueva Contraseña">
          <span class="feed "></span>
          <% if (locals.errors && errors.contraseña) {%>
            <p> <%= errors.contraseña.msg %>   </p>
            <% } %>
        </fieldset>
    </fieldset>
    <fieldset>
      <label type = "text">Editar Informacion</label>
      <button type="submit"><i class="fas fa-user pr-2"></i></button>
    </fieldset>
    <fieldset>
        <label type = "text">Cambiar Avatar</label>
        <button type="submit"><i class="fas fa-picture pr-2"></i></button>
      </fieldset>
  </form>
  <%= if (user.isAdmin){ %>
    
    <% } %>  
  <% }%>

  <nav>
    <a href="/">volver <i class="fas fa-home"></i></a>
    <a href="/usuarios/logout">logout <i class="fas fa-power-off"></i></a>
  </nav>
  </main>
  <!-- Footer -->
  <%- include("../includes/footer") %> 
  <script src="/js/profile.js"></script>
</body>
</html>