<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
<!-- Main -->
    <main>
<!-- Formularios -->
<form action="/usuarios/access" method="POST" class="formularioLogin" id="loginUser">
  <fieldset class="controlFormulario">
    <input class="control" type="text" name="email" placeholder="Ingresar Email" required>
    <% if (locals.errors && errors.email) {%>
      <p> <%= errors.email.msg %>   </p>
  <% } %>
  </fieldset>

  <fieldset class="controlFormulario">
      <input class="control" type="password" name="password" placeholder="Contraseña" required>
      <% if(locals.errors && locals.errors.password){  %>
        <span class="error"> <%= locals.errors.password.msg %> </span>
       <% }%>
  </fieldset>
  <fieldset>
    <label for="remember">Recordarme</label>
    <input type="checkbox" name="remember" id="remember">
  </fieldset>
  <section id="contenedorBotones">
  <button class="button" type="submit">Entrar</button>
  </section>
  </form>
    </main>
<!-- Footer -->
<%- include("../includes/footer") %> 
<script src="/js/login.js"></script>
</body>