<%- include("../includes/head") %> 

<body>
  <!-- Header -->
  <%- include("../includes/header") %> 
  <!-- Fin del Header -->
  <!-- Main -->
  <main>
    <form action="/usuarios/update/<%= user.id %>?_method=PUT" class="formularioRegistro" method="POST" id="profileForm" enctype="multipart/form-data">
      <% if(user && user.esAdmin) {%>
    <fieldset>
          <input type="text" name="nombre" id="nombre" value="<%= user.nombre%>" placeholder="Nombre y Apellido">
          <span class="feed "></span>
          <% if (locals.errors && errors.nombre) {%>
            <p> <%= errors.nombre.msg %>   </p>
            <% } %>
    </fieldset>
    <fieldset>
          <input type="email" name="email" id="email" value="<%= user.email%>" placeholder="Email">
          <span class="feed "></span>
          <% if (locals.errors && errors.email) {%>
            <p> <%= errors.email.msg %>   </p>
            <% } %>
    </fieldset>
    <figure id="avatarPreview">
          <img src="<%= user.avatar%>" alt="<%= user.name%>">
    </figure>
    <fieldset>
            <label for="avatar"></label>
            <input type="file" name="avatar" id="avatar">
            <span class="feed "></span>
            <% if (locals.errors && errors.avatar) {%>
              <p> <%= errors.avatar.msg %>   </p>
              <% } %>
    </fieldset>
    <fieldset>
            <input type="password" name="lastPassword" id="lastPassword" value="" placeholder="Contraseña Anterior">
            <span class="feed "></span>
            <% if (locals.errors && errors.contraseña) {%>
              <p> <%= errors.contraseña.msg %>   </p>
              <% } %>
    </fieldset>
    <fieldset>
            <input type="password" name="contraseña" id="password" value="" placeholder="Nueva Contraseña">
            <span class="feed "></span>
            <% if (locals.errors && errors.contraseña) {%>
              <p> <%= errors.contraseña.msg %>   </p>
              <% } %>
    </fieldset>
    <fieldset>
            <label type = "text">Actualizar</label>
            <button type="submit"><i class="fas fa-sync"></i></button>
    </fieldset>
  </form>
      
  <% }%>

  <nav>
    <a href="/">volver <i class="fas fa-home"></i></a>
    <a href="/usuarios/logout">logout <i class="fas fa-power-off"></i></a>
  </nav>
  </main>
  <!-- Footer -->
  <%- include("../includes/footer") %> 
  <script src="/js/profile.js"></script>
</body>
</html>