<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
<!-- Main -->
<main>
<!-- Formularios -->

<form action="/usuarios/save" method="POST" class="formularioRegistro" enctype="multipart/form-data" id="registerUser">
  <fieldset class="controlFormulario">
      <input class="control " type="text" name="nombre" placeholder="Nombre y Apellido" value="<%= locals.data ? data.nombre : null %>">
      <span class="feed "></span>
        <% if (locals.errors && errors.nombre) {%>
            <p> <%= errors.nombre.msg %>   </p>
        <% } %>
  </fieldset>
  <fieldset>
    <input class="control" type="email" name="email" placeholder="Email" value="<%= locals.data ? data.email : null %>">
    <span class="feed"></span>
    <% if (locals.errors && errors.email) {%>
      <p> <%= errors.email.msg %>   </p>
  <% } %>
  </fieldset>
  <fieldset class="controlFormulario" id="fotoPerfil">
      <img class="imgUser" src="/uploads/avatar/default_user.png" alt="imagen de usuario" >
        <input type="file" name="avatar" id="Subirfoto">
        <span class="feed"></span>
        <% if (locals.errors && locals.errors.avatar) {%>
        <p> <%= errors.avatar.msg %>   </p>
        <% } %>
  </fieldset>
  <!-- <fieldset class="controlFormulario">
    <fieldset class="contenedorItems">
        <input type="checkbox" name="categoryUser" value="Admin">
        <label for="admin">Admin</label>
    </fieldset>


    <div class="contenedorItems">
        <input type="checkbox" name="categoryUser" value="cliente">
        <label for="cliente">Cliente</label>
    </div> -->
  <fieldset class="controlFormulario">
      <input class="control" type="password" name="contrase単a" placeholder="Contrase単a"><br><br>
      <span class="feed"></span>
      <% if (locals.errors && errors.contrase単a) {%>
        <p> <%= errors.contrase単a.msg %>   </p>
    <% } %>
    </fieldset>
  <section id="contenedorBotones">
      <button class="button" type="submit">Registrar</button>
      <button class="button" type="reset">Borrar</button>
  </section>
</form>
<!-- Cierre del Form -->
</main>
<!-- Footer -->
<%- include("../includes/footer") %> 
<script src="/js/register.js"></script>
</body>